<header>
  <h1>Dogs</h1>
</header>
  <ul class='dogs-list'>
    <li>
      <a href="/dogs/{{id}}" title="goes to dog's profile page">
        <img src='{{image}}' alt='picture of {{name}}'>
	<h3>{{name}}Dog's Name</h3>
	<p class='suburb'>{{surburb}}Location of dog</p>
      </a>
    </li>
  </ul>
</section>
<footer>
<h1>GotaDog</h1>
</footer>